  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button">
      <img src={{orgManager.activeOrg.photoURL}} class="icon icon-sm mr-1">
      {{orgManager.activeOrg.name}}
      </a>

    <div class="dropdown-menu dropdown-menu-right">
      {{#if orgManager.canManageOrg}}
        {{#link-to 'app.organization.settings.index' orgManager.activeOrgId title='Manage' class='dropdown-item'}}
          {{-ion 'ios-gear'}} Manage Organization
        {{/link-to}}
        <div class="dropdown-divider"></div>
      {{/if}}

      {{#link-to 'app.organization-create' title='New' class='dropdown-item'}}
        {{-ion 'plus'}} New Organization
      {{/link-to}}

      <div class="dropdown-divider"></div>
      
      {{#each orgManager.availableOrgs as |org|}}
         {{#link-to 'app.organization.index' org.id class='dropdown-item'}} 
          <img src={{org.photoURL}} class="icon icon-sm mr-1">
          {{org.name}}
         {{/link-to}} 
      {{/each}}
    </div>
  </li>
