<ul class="nav nav-pills" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#field-general" role="tab">General</a>
  </li>
  {{#if field.supportsChoices}}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#field-choices" role="tab">Choices</a>
    </li>
  {{/if}}
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#field-attributes" role="tab">Attributes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#field-preview" role="tab">Preview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">
      {{#if isSaving}}
        <small class="text-info">Saving...</small>
      {{else if error}}
        <small class="text-danger">Error</small>
      {{else if hasSaved}}
        <small class="text-success">Saved</small>
      {{/if}}
    </a>
  </li>
</ul>
<hr>
<div class="tab-content">
  <div class="tab-pane active" id="field-general" role="tabpanel">
    {{#-bs/row}}
      {{#-bs/col}}
        {{-bs/form-group
          identifier="fieldBuilder.label"
          label="Label"
          value=field.label
          helpText="A user-friendly label for this field. The label will appear on the form above the field."
          focus-out=(action "triggerSaveFor" "label")
        }}
      {{/-bs/col}}
    {{/-bs/row}}
    {{#-bs/row}}
      {{#-bs/col}}
        {{-bs/form-group class="mb-0"
          identifier="fieldBuilder.helpText"
          control="textarea"
          label="Helper Text"
          value=field.helpText
          helpText="Short text that describes the field, or provides instructions to the user."
          focus-out=(action "triggerSaveFor" "helpText")
        }}

        {{#if hasMultipleControls}}
          <div class="form-group mt-3 mb-0">
            <label>How should the field be displayed?</label>
            <div class="custom-controls-stacked">
              {{#each field.type.controls as |availableControl|}}
                <label class="custom-control custom-radio">
                  {{-bs/forms/radio
                    name="field-control-type"
                    class="custom-control-input"
                    value=(readonly availableControl.id)
                    checked=(readonly control.id)
                    on-change=(action "switchControl" availableControl)
                  }}
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ availableControl.title }}</span>
                </label>
              {{/each}}
            </div>
          </div>
        {{/if}}


      {{/-bs/col}}
    {{/-bs/row}}
  </div>
  {{#if field.supportsChoices}}
    <div class="tab-pane" id="field-choices" role="tabpanel">
      {{form-builder/choices-editor
        field=field
        on-save-start=(action "setIsSaving" true)
        on-save-end=(action "setIsSaving" false)
        on-save-success=(action "setHasSaved" true)
        on-save-error=(action "setSavingError")
      }}
    </div>
  {{/if}}
  <div class="tab-pane" id="field-attributes" role="tabpanel">
    {{#-bs/row}}
      {{#-bs/col}}
        {{#if control.supports.placeholder}}
          {{-bs/form-group
            identifier="fieldBuilder.placeholder"
            label="Placeholder"
            value=field.attributes.placeholder
            helpText="A hint to the user of what can be entered in the field."
            focus-out=(action "autosave")
          }}
        {{/if}}
        {{form-builder/field-editor/togglable-attributes
          control=control
          attributes=field.attributes
          on-change=(action "autosave")
        }}
      {{/-bs/col}}
    {{/-bs/row}}
  </div>
  <div class="tab-pane" id="field-preview" role="tabpanel">
    {{form-builder/field-preview field=field attributes=field.attributes}}
  </div>
</div>



