<table class="table">
  {{#sortable-group tagName="tbody" onChange="reorder" as |group|}}
    {{#each sortedOptions as |option|}}
      {{#sortable-item tagName="tr" model=option group=group handle=".sort-handle"}}

        <td>
          <div class="form-group mb-0">
            {{input class="form-control form-control-sm" value=option.label readonly=option.hidden placeholder="The label seen by the user."}}
            <small class="form-text text-muted">Label</small>
          </div>

        {{#if option.customValue}}
            <div class="form-group mb-0 mt-1">
              <div class="input-group">
                {{input class="form-control form-control-sm" value=option.value readonly=option.hidden placeholder="The value to save to the database."}}
                <span class="input-group-btn">
                  {{#-bs/button "primary"
                    size="small"
                    outline=true
                    title="Remove custom database value."
                    click=(action "toggle" option "customValue")
                  }}{{-ion "close-circled"}}{{/-bs/button}}
                </span>
              </div>
              <small class="form-text text-muted">Value</small>
            </div>
        {{/if}}
        </td>

        <td>
          <div class="btn-group float-right">
            {{#-bs/button "primary" size="small" outline=true class="sort-handle mr-2" title="Move the choice up or down."}}{{-ion "arrow-move"}}{{/-bs/button}}
            {{#-bs/button "secondary" class="dropdown-toggle" title="Perform additional actions or adjust the choice's settings." outline=true toggle="dropdown" size="small"}}
              {{-ion "ios-gear"}}
            {{/-bs/button}}
            <div class="dropdown-menu dropdown-menu-right">
              {{#if option.hidden}}
                <button class="dropdown-item" type="button" {{action "hide" option false}}>{{-ion "eye"}} Show</button>
              {{else}}
                <button class="dropdown-item" type="button" {{action "hide" option true}}>{{-ion "eye-disabled"}} Hide</button>
              {{/if}}

              {{#unless option.customValue}}
                <button class="dropdown-item" type="button" {{action "toggle" option "customValue"}}>{{-ion "android-checkbox-outline"}} Set Value</button>
              {{/unless}}

              <div class="dropdown-divider"></div>
              <button class="dropdown-item" type="button" {{action "remove" option}}><span class="text-danger">{{-ion "close-round"}}</span> Delete</button>
            </div>
          </div>
        </td>


      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}
</table>
{{#-bs/button "success" outline=true size="small" click=(action "add") title="Add a new choice."}}{{-ion "plus-round"}} Add{{/-bs/button}}
