{{#form-builder/field-preview/-input field=field attributes=attributes}}
  <select name={{field.id}} class="custom-select form-control" disabled={{attributes.disabled}} readonly={{attributes.readonly}} required={{attributes.required}}>
    {{#if attributes.placeholder}}
      <option value="">{{ attributes.placeholder }}</option>
    {{/if}}
    {{#each field.visibleChoices as |choice|}}
      <option value={{choice.value}}>{{ choice.label }}</option>
    {{/each}}
  </select>
{{/form-builder/field-preview/-input}}
