<h5 class="text-muted">Create</h5>
<hr>

{{#form-builder class="row" as |builder|}}
  <div class="col hidden-md-down pt-3" style="max-width: 325px">
    <div class="card mb-3">
      <div class="card-header">Built-In Fields</div>
      <ul class="list-group list-group-flush">
      </ul>
    </div>

    <div class="card mb-3">
      <div class="card-header">Choose from Library</div>
      <ul class="list-group list-group-flush">
      </ul>
    </div>

    <div class="card mb-3">
      <div class="card-header">Create Custom Field</div>
      <ul class="list-group list-group-flush">
        {{#each builder.fieldTypes as |type|}}
          <li class="list-group-item list-group-item-action justify-content-between clickable" title="{{ type.description }}" {{action builder.addField type.key}}>
            {{ type.title }}
            {{#-bs/tooltip class="badge badge-default badge-pill" title=type.description cursor="help"}}{{-ion "help"}}{{/-bs/tooltip}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col pt-3">
    <div class="form-canvas">
       {{#each builder.fields as |field index|}}
        {{form-builder/selected-field
          field=field
          index=index
          fieldCount=builder.fields.length
          on-edit=(action builder.selectField field)
          on-remove=(action builder.removeField field)
          on-move-up=(action builder.moveField index 'up')
          on-move-down=(action builder.moveField index 'down')
        }}
      {{/each}}
      </div>
  </div>
  {{#-bs/modal show=builder.hasSelectedField size="large" onHidden=(action builder.selectField null) as |modal|}}
    {{#modal.header as |header|}}
      {{#header.title tagName="div"}}
        <h5 class="text-primary">{{builder.selected.type.title}}</h5>
        <p class="text-muted mb-0">{{builder.selected.type.description}}</p>
      {{/header.title}}
      {{header.closeIcon class="field-editor"}}
    {{/modal.header}}
    {{#modal.body}}
      {{form-builder/field-editor field=builder.selected}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#-bs/button "primary" click=(action modal.hide)}}{{-ion "checkmark-round"}} Apply{{/-bs/button}}
    {{/modal.footer}}
  {{/-bs/modal}}
{{/form-builder}}


