{{#-bs/row class="justify-content-center"}}
  {{#-bs/col sm=12 md=10 lg=8}}
    <ul class="nav nav-pills card-header-pills float-right" role="tablist">
      <li class="nav-item">
        {{#link-to "app.organization.settings" model.id class="nav-link"}}
          {{-ion "gear-a"}} Settings
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "app.organization.settings.team" model.id class="nav-link"}}
          {{-ion "ios-people"}} Team
        {{/link-to}}
      </li>
    </ul>
    <h2><img src={{model.photoURL}} class='avatar' alt={{model.name}} width=100 height=100>&nbsp;{{model.name}}</h2>
    
  {{/-bs/col}}
{{/-bs/row}}
<hr>

{{outlet}}