{{!-- <div class="loading-overlay"><div class="spin">{{-ion "radio-waves"}}</div></div> --}}

{{!-- {{ember-notify messageStyle='bootstrap'}} --}}

{{#-bs/navbar inverse=true class='bg-primary' toggleable='md' fixed='top'}}

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#primary-nav">
    {{-ion 'navicon-round'}}
  </button>

  <a href="/" class="navbar-brand">Identify Me</a>
  {{!-- Should only appear once logged in. --}}

  {{#if userManager.canUseApp}}

    <div class="collapse navbar-collapse" id="primary-nav"> 
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item">
          {{#link-to "app.organization.index" orgManager.activeOrgId class="nav-link"}}
            {{!-- {{-ion "pie-graph"}} --}}
             Dashboard
          {{/link-to}}
        </li>
      </ul>

      <ul class="navbar-nav float-lg-right">
        {{org-nav}}
        {{user-nav}}
      </ul>
  </div> 
  {{/if}}
{{/-bs/navbar}}


{{#-bs/container fluid=true}}
  {{#-bs/row gutters=true}}
    {{#-bs/col xl=12}}
      {{outlet}}
    {{/-bs/col}}
  {{/-bs/row}}
{{/-bs/container}}
